{{ define "main" }}
{{ partial "hero" . }}
{{ if .Params.benefits_block.enabled }}
    {{ with .Params.benefits_block }}
    <div class="block">
        <div class="wrapper-lg">
            <div class="grid-4">
                {{ range .benefits }}
                <div class="benefit-icon text-center flow">
                    <img src="/uploads/{{ .icon }}" alt="">
                    <p class="fs-300 fw-500">{{ .benefit }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}
{{ if .Params.testing_block.enabled }}
    {{ with .Params.testing_block }}
    <section aria-labelledby="testing-heading" class="block bg-gray">
        <div class="wrapper-md text-center mb-7">
            <h2 id="testing-heading">{{ .heading | safeHTML }}</h2>
            <p class="fs-300 fw-500" style="max-width: 850px; margin: 1.25rem auto;">{{ .body }}</p>
        </div>
        <div class="wrapper-md">
            <div class="grid-2">
                {{ range .image_cards }}
                <div class="image-card flex flex-column flex-justify-center p-relative background-image">
                    <img src="/uploads/{{ .image_url }}" alt="" class="border-radius-50">
                    {{ if .button.enabled }}
                        {{ with .button }}
                            <div class="image-card__inner flex">
                                <a href="{{ .button_url }}" class="btn btn--primary">{{ .button_text }}</a>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    {{ end }}
{{ end }}
{{ if .Params.testing_process_block.enabled }}
    {{ with .Params.testing_process_block }}
    <section aria-labelledby="testing-process-heading" class="block">
        <div class="wrapper-lg text-center">
            <h2 id="testing-process-heading">{{ .heading | safeHTML }}</h2>
            <p class="fs-300 fw-500" style="max-width: 875px; margin: 1.25rem auto;">{{ .body }}</p>
        </div>
        <div class="block-sm">
            <div class="testing-process-grid grid-2 wrapper-lg">
                {{ range .process }}
                <div class="mt-step p-relative border-radius-50 text-center flow">
                    <img src="/uploads/{{ .icon }}" alt="" class="mt-step__icon">
                    <h3>{{ .heading }}</h3>
                    <p class="flex flex-justify-center flex-center fs-300 fw-500">{{ partialCached "svg-icons/clock.svg" . }}<span class="ml-1">{{ .time }}</span></p>
                    <p style="max-width: 575px; margin: 1.25rem auto;">{{ .body }}</p>
                </div>
                {{ end }}
            </div>
        </div>
        {{ if .button.enabled }}
            {{ with .button }}
                <div class="text-center">
                    <a href="{{ .button_url }}" class="btn btn--primary">{{ .button_text }}</a>
                </div>
            {{ end }}
        {{ end }}
    </section>
    {{ end }}
{{ end }}
{{ if .Params.faq_block.enabled }}
    {{ with .Params.faq_block }}
    {{ partial "faqs" . }}
    {{ end }}
{{ end }}
{{ partialCached "site-cta" . }}
{{ end }}