.blog-card {
  background-color: $white;
  transition: 0.3s ease-out;
  height: 100%;

  &__link {
    text-decoration: none;
  }

  &__cover {
    max-height: 300px;
    border-radius: 20px;

    img {
      transition: 0.3s ease-out;
      transform: scale(1.01);
    }
  }

  &__category {
    top: -42px;
    left: $ic-100;

    a {
      background: $secondary-color;
      border-radius: 50px;
      color: $white;
      padding: $ic--100 $ic-200;
      font-size: $ic-100;
      line-height: 1;
      text-decoration: none;

      &:hover, 
      &:focus {
        background: $primary-color;
      }
    }

    a + a {
      margin-left: $ic-100;
    }
  }

  &__content {
    margin-top: $ic-200; 
    // padding: $ic-200;
    // border-right: 2px solid $light-gray;
    // border-left: 2px solid $light-gray;
    // border-bottom: 2px solid $light-gray;
    position: relative;
    flex: 1;

    p {
      margin-top: $ic--200;
    }
  }

  &__title {
    color: $dark-blue;
  }

  &__read-more {
    font-size: $ic-100;

    svg {
      width: $ic-200;
      height: $ic-200;
      fill: $primary-color;
      transition: 0.3s ease-out;
    }

    &:hover,
    &:focus {
      
      svg {
        fill: $secondary-color;
        transform: translateX(5px);
      }
    }
  }

  .reading-time {
    svg {
      fill: $primary-color;
      height: $ic--100;
      width: $ic--100;
      transition: 0.3s ease-out;
      margin-right: 8px;
    }
  }
  
  &:hover, 
  &:focus {
    .blog-card__cover img {
      transform: scale(1.05);
    }

    .blog-card__title {
      color: $primary-color;
    }
  }
}