.goal-icon-grid {
  display: flex;
  flex-wrap: wrap;
  gap: $ic-300;
  margin-top: $ic-300;
}

.goal-icon {
    flex: 1 1 125px;
    
    img {
        max-width: 175px;
        margin: 0 auto;
    }

    .fs-300 {
      font-size: clamp($ic--100,4vw,$ic-300);
    }

    @include breakpoint(sm) {
      flex: 1 1 200px;
    }
}

.resources {
  .goal-icon {
      text-decoration: none;
      position: relative;
  
      h2 {
          max-width: max-content;
          margin: $ic-300 auto;
          position: relative;
  
          &::after {
              background: $primary-color-alt-2;
              height: 3px;
              width: 100%;
              transform: scaleX(0);
              transform-origin: top right;
              position: absolute;
              bottom: -4px;
              left: 0;
              content: "";
              transition: transform 0.4s ease-out;
          }
      }
  
      @include breakpoint(lg) {
          &:hover,
          &:focus {
      
            h2::after {
              transform: scaleX(1);
              transform-origin: top left;
            }
          }
      }
  }
  
  .goal-icon:nth-of-type(2) {
    h2::after {
      background: $secondary-color;
    }
  }
  
  .goal-icon:nth-of-type(3) {
    h2::after {
      background: $accent-color-alt;
    }
  }
}
