.hero {
  position: relative;
  // height: 100vh;
  // max-height: 600px;
  // overflow: hidden;

  &__image {
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    top: 130px;
  }

  &__small-title {
    width: max-content;
    padding: 0 2rem;
    border-radius: 10px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary-color-alt-2;
  }
}