.home-hero, 
.hero {
  min-height: 400px;

  @include breakpoint(md) {
    min-height: 500px;
  }
}

.hero {
  position: relative;
  // height: 100vh;
  // max-height: 600px;
  // overflow: hidden;
  margin-bottom: 145px;
  
  &__image {
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    bottom: -100px;
  }

  &__small-title {
    width: max-content;
    padding: 0 2rem;
    border-radius: 10px;
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary-color-alt-2;

    @include breakpoint(sm) {
      top: -30px;
    }
  }

  &__body {
    max-width: 700px; 
    margin: $ic-200 auto;
  }
}