.home-hero, 
.hero {
  min-height: 400px;

  @include breakpoint(md) {
    min-height: 500px;
  }
}

.hero {
  position: relative;
  
  &__image {
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    margin-top: -135px;

    @include breakpoint(md) {
      margin-top: -175px;
    }
  }

  &__small-title {
    width: max-content;
    padding: 0 2rem;
    border-radius: 10px;
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary-color-alt-2;
    font-size: clamp($ic-200, 4vw, $ic-500);

    @include breakpoint(sm) {
      top: -30px;
    }
  }

  &__body {
    max-width: 700px; 
    margin: $ic-200 auto;
  }
}