.home-hero {
  position: relative;
  height: 100%;

  .hero__image {
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    height: 100%;
  }

  &__content-inner {
    position: absolute;
    bottom: -100px;
    left: 0;
    padding: $ic-200 $ic-400;

    @include breakpoint (md) {
      position: relative;
      bottom: 0;
      padding: $ic-900 $ic-600;
    }
  }
}