.home-hero {
  position: relative;
  height: 70vh;
  // height: 100vh;
  // max-height: 600px;
  // overflow: hidden;

  .hero__image {
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    height: 100%;
  }

  &__content-inner {
    position: absolute;
    bottom: -100px;
    left: 0;
    padding: $ic-900 $ic-600;

    @include breakpoint (md) {
      position: relative;
      bottom: 0;
    }
  }
}