.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;

  @include breakpoint(md) {
    justify-content: center;
  }

  &__current {
    background-color: $primary-color;
    color: $white;
  }

  &__next {
    &:hover,
    &:focus {
      svg {
        transform: translateX(5px);
      }
    }
  }

  &__previous {
    &:hover,
    &:focus {
      svg {
        transform: translateX(-5px);
      }
    }
  }
}

.pagination__next,
.pagination__previous,
.pagination__numbers {
  height: $ic-800;
  width: $ic-800;
  border-radius: 50px;
  font-size: $ic-100;
  font-weight: 700;
  text-decoration: none;
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .15);
  
  svg {
    fill: $primary-color;
    width: $ic-100;
    height: $ic-100;
    transition: $transition;
    position: relative;
    top: -1px;
  }

  &:hover,
  &:focus {
    background: $primary-color;
    color: $white;

    svg {
      fill: $white;
    }
  }

}

.pagination__numbers {
  margin: 0 5px;
  display: none;

  @include breakpoint(sm) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
