.pricing-chart {
  height: max-content;

  &__header {
    padding: $ic-300;
  }

  &__body {
    border-top: 8px solid $primary-color-alt-2;
    border-bottom: 8px solid $primary-color-alt-2;

    ul {
      margin: 0;
      padding: 0;
      max-width: 100%;

      li {
        margin-top: 0;
        padding: $ic--100 0;
        max-width: 100%;

        &::before {
          background-image: none;
        } 
      }

      li:nth-of-type(odd) {
        background-color: rgba($primary-color-alt-2, .25);
      }
    }
  }

  &__footer {
    padding: $ic-300;
    font-size: $ic-400;
  }
}

@include breakpoint(lg) {
  .parent-page-child-testing {
    .pricing-chart:nth-of-type(1),
    .pricing-chart:nth-of-type(3) {
      margin-top: 100px;
    }
  
    .pricing-chart:nth-of-type(5) {
      margin-top: -45px;
    }
  }
}