.search__open,
.search__close {
  background: transparent;
  border: none;
}

.search__open {
  position: relative;
  padding: 0;
  color: $primary-color; 

  svg {
    width: $ic-200;
    height: $ic-200;
    fill: $primary-color;
    margin-right: $ic-100;
  }
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($primary-color, 0.95);
  z-index: 9;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-out;
  overflow-y: scroll;

  &__wrapper {
    height: 100%;
    width: 100%;
  }
}

.search-open {
  opacity: 1;
  pointer-events: auto;
}

.search__close {
  position: absolute;
  top: $ic-200;
  right: $ic-200;
  width: $ic-700;
  height: $ic-700;
  padding: 0;

  svg {
    width: $ic-700;
    height: $ic-700;
    fill: $white;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#search {
  position: relative;
  top: 35px;
}

.pagefind-ui__message,
.pagefind-ui__results {
  color: $white !important;
}

.pagefind-ui__result-link {
  color: $white !important;
  text-decoration: none !important;
}

mark {
  background-color: $secondary-color !important;
}