.social {
  margin: 0;
  padding: 0;

  &__list-item {
    list-style-type: none;
    margin: 0;
    padding-right: $ic-100;
  }

  &__icon {
    svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: $black;
      opacity: .7;
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 1;
      }
    }
  }
}

.tiktok-icon svg {
  width: 22px;
  height: 22px;
}
