.social {
  margin: 0;
  padding: 0;

  &__list-item {
    list-style-type: none;
    margin: 0;
    padding-right: $ic-100;
  }

  &__icon {
    svg {
      width: $ic-500;
      height: $ic-500;
      fill: $black;
      opacity: .7;
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 1;
      }
    }
  }
}
