.footer {
  &__contact {
    flex: 2;
  }

  &__col {
    margin: $ic-300 0;
    flex: 1;

    @include breakpoint(md) {
      margin: 0;
    }
  }

  &__logo img {
    position: relative;
    left: -12px;
    width: clamp(200px, 22vw, 425px);

    @include breakpoint(md) {
      left: -30px;
    }
  }

  // &__address, 
  // &__social {
  //   margin-left: clamp(20px, 12%, 100px);
  // }

  &__bottom {
    background-color: $primary-color;
  }

  .copyright {
    padding: $ic-100 0;
    color: $white;

    a {
      color: $white;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    @include breakpoint(sm) {
      flex-direction: row;
    }

    p {
      margin: 0;
    }

    &__nav {
      margin: 0;
      padding: 0;

      @include breakpoint(sm) {
        flex-direction: row;
      }
    }

    &__list-item, 
    .credits {
      list-style-type: none;
      margin: $ic-100;

      @include breakpoint(md)  {
        margin: 0;
        margin-left: $ic--100;
      }
    }

    p, .credits {
      text-align: center;

      @include breakpoint(md)  {
        text-align: left;
      }
    }
  }
}
