.site-header {
  width: 100%;
  position: relative;
  z-index: 9;
  transition: .3s ease-out;
  background-color: $white;

  &__wrapper {
    background-color: $white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $ic-100 0;
    margin-inline: auto;
    padding-inline: $ic-300;

    @include breakpoint(lg) {
      overflow: visible;
    }
  }

  &__end {
    display: none;
  }

  @include breakpoint(md) {
    &__logo, 
    &__end {
      flex: 1;
    }

    &__middle {
      flex: 2;
    }

    &__end {
      display: flex;
    }
  }

  &__logo {
    width: clamp(200px, 22vw, 425px);
  }

  &__nav {
    display: none;

    @include breakpoint(lg) {
      display: block; 
      width: 100%;
    }
  }

  .btn {
    padding: $ic-400 $ic-700;
  }

  &__mobile-nav {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease-out;
    height: 0;
    background: $light-gray;

    ul {
      padding: 0;

      li {
        list-style-type: none;
      }
    }

    a {
      display: block;
      width: 100%;
      transition: color 0.3s ease-out;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }

    @include breakpoint(lg) {
      display: none;
    }
  }

  &__mobile-nav-inner {
    padding: $mobile-header $ic-300 $ic-300 $ic-300;
  }

  .site-header__mobile-nav a:not(.btn) {
    padding: $ic-100 0;
  }

  &__notification {
    display: none;
    z-index: -2;
  }
}

.nav-list {

  &__item {
    list-style-type: none;
    margin-top: 0;
    padding: $ic-100 0;

    @include breakpoint(md) {
      padding: $ic-100 $ic-200;
    }
  }

  @include breakpoint(lg) {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;

    &__item {
      display: inline-block;
    }
  }

  .has-sub-menu {
    &:hover,
    &:focus {
      .nav-list__sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}

.nav-list__link, .footer__nav-link {
  position: relative;
  text-decoration: none;
  font-family: $secondary-font;
  font-size: $ic-300;
  line-height: 1;
  padding: 4px 0;
  transition: .3s ease-out;
  color: $dark-blue;

  &::after {
    background: $primary-color-alt-2;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: top right;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    transition: transform 0.4s ease-out;
  }

  @include breakpoint(lg) {
    &:hover,
    &:focus {
      color: $dark-blue;

      &::after {
        transform: scaleX(1);
        transform-origin: top left;
      }
    }
  }
}

.sub-menu {
  /* Hidden by default */
  // opacity: 0;
  // visibility: hidden;
  pointer-events: auto;
  transition:  $transition;
  transition-delay: 0.1s;
  height: 0;
  // height: 100vh;
  overflow: hidden;
  z-index: -1;
  // transform: translateY(-25px);

  /* Absolute position */
  left: 0px;
  position: absolute;
  top: 100%;

  /* Take full width */
  width: 100%;

  background-color: $white;
  box-shadow: 0px 20px 30px rgba($black, 0.15);

  &__inner {
    width: 100%;

    ul {
      padding: $ic--200 $ic-300;
    }

    .sub-menu__menu {
      columns: 2;
      padding: $ic-300 0;
    }
  }

  &__navigation {
    width: 70%;
  }

  &__sidebar {
    width: 30%;
  }

  &__heading-link {
    &:hover, &:focus {
      .icon-cube {
        transform: translateX(8px);
      }
    }
  }

  &__child-menu {
    li {
      position: relative;
      list-style-type: none;
      break-inside: avoid;
  
      &::before {
        background-image: url("/uploads/blue-block.svg");
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: block;
        height: 16px;
        width: 16px;
        left: -$ic-300;
        position: absolute;
        top: 6px;
      }
    }

    li:nth-of-type(3n + 2)::before{
      background-image: url("/uploads/orange-block.svg");
    }

    li:nth-of-type(3n + 3)::before{
      background-image: url("/uploads/yellow-block.svg");
    }
  }
}

.resources-sub-menu {
  .sub-menu__menu {
    columns: 1;
  }
}

.nav-list__item:nth-of-type(2),
.footer__nav-item:nth-of-type(2),
.nav-list__item:nth-of-type(5),
.footer__nav-item:nth-of-type(5) {
  .nav-list__link::after {
    background: $secondary-color;
  }

  .footer__nav-link::after {
    background: $secondary-color;
  }
}

.nav-list__item:nth-of-type(3),
.footer__nav-item:nth-of-type(3) {
  .nav-list__link::after {
    background: $accent-color-alt;
  }

  .footer__nav-link::after {
    background: $accent-color-alt;
  }
}

.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
}