.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  transition: .3s ease-out;
  background-color: $white;

  &__wrapper {
    background-color: $white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $ic-100 0;
    margin-inline: auto;
    padding-inline: $ic-300;

    @include breakpoint(lg) {
      overflow: visible;
    }
  }

  &__end {
    display: none;
  }

  @include breakpoint(md) {
    &__logo, 
    &__end {
      flex: 1;
    }

    &__middle {
      flex: 2;
    }

    &__end {
      display: flex;
    }
  }

  &__logo {
    width: clamp(200px, 22vw, 425px);

    img {
      width: 425px;
    }
  }

  &__nav {
    display: none;

    @include breakpoint(lg) {
      display: block; 
      width: 100%;
    }
  }

  .btn {
    padding: $ic-400 $ic-700;
  }
}

.site-header__mobile-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: $transition;
  height: 0;
  background-color: $white;

  ul {
    // padding: $ic-200;
    // margin: 0;

    li {
      list-style-type: none;
    }

    li + li:not(.nav-list-dropdown li) {
      margin-top: 0;
      border-top: 1px solid $light-gray;
    }
  }

  .nav-list__item {
    padding: .25rem 0;
  }

  .nav-list__link {
    font-size: $ic-100; 
    text-decoration: none;
    padding: $ic--200;
    display: block;
    width: 100%;
    transition: color $transition;

    &:focus {
      color: $secondary-color;
    }
  }

  @include breakpoint(md) {
    display: none;
  }

  .nav-list-dropdown {
    display: none;
    padding: 0 $ic-100;

    li {
      border-bottom: none;
    }

    a {
      padding: .5rem 0;
      color: rgba($primary-color, 0.8);
    }
  }

  .active {
    border-bottom: 1px solid rgba($light-gray, 0.1);

    .parent {
      border-bottom: none;
    }

    .nav-list-dropdown {
      display: block;
    }
  }

  .btn {
    margin-top: $ic-100;
    padding: $ic--200 $ic-700;
  }
}

.site-header__mobile-nav a:not(.btn, .nav-list-dropdown a) {
  padding: $ic-100 0;
}

.site-header__mobile-nav-menu {
  max-width: 600px;
  margin: 0 auto;
  padding: $ic-300;
}

.toggle-mobile-dropdown {
  position: absolute;
  top: 12px;
  right: 0;
  height: $ic-400;
  width: $ic-600;
  background: none;
  border: none;
  border-left: 1px solid $light-gray;

  &::before,
  &::after {
    content: "";
    width: 1rem;
    height: 2px;
    background-color: $primary-color;
    position: absolute;
    transition: 0.3s ease;
    top: 50%;
    right: 30%;
    transform: translate(-30%, -30%);
  }

  &::before {
      transform: translate(-30%, -30%) rotate(90deg);
  }
}

.active .toggle-mobile-dropdown {
    &::before {
      transform: translate(-30%, -30%) rotate(0deg);
    }
}

.has-dropdown-open .site-header__mobile-nav-inner {
  height: 533px;
  overflow: auto;
}

.nav-list {

  &__item {
    list-style-type: none;
    margin-top: 0;
    padding: $ic-100 0;

    @include breakpoint(md) {
      padding: $ic-100 $ic-200;
    }
  }

  @include breakpoint(lg) {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;

    &__item {
      display: inline-block;
    }
  }

  .has-sub-menu {
    &:hover,
    &:focus {
      .nav-list__sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}

.nav-list__link, .footer__nav-link {
  position: relative;
  text-decoration: none;
  font-family: $secondary-font;
  line-height: 1;
  padding: 4px 0;
  transition: .3s ease-out;
  color: $dark-blue;

  &::after {
    background: $primary-color-alt-2;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: top right;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    transition: transform 0.4s ease-out;
  }

  @include breakpoint(lg) {
    &:hover,
    &:focus {
      color: $dark-blue;

      &::after {
        transform: scaleX(1);
        transform-origin: top left;
      }
    }
  }
}

.sub-menu {
  /* Hidden by default */
  // opacity: 0;
  // visibility: hidden;
  pointer-events: auto;
  transition:  $transition;
  transition-delay: 0.1s;
  height: 0;
  // height: 100vh;
  overflow: hidden;
  z-index: -1;
  // transform: translateY(-25px);

  /* Absolute position */
  left: 0px;
  position: absolute;
  top: 100%;

  /* Take full width */
  width: 100%;

  background-color: $white;
  box-shadow: 0px 20px 30px rgba($black, 0.15);

  &__inner {
    width: 100%;

    ul {
      padding: $ic--200 $ic-300;
    }

    .sub-menu__menu {
      columns: 2;
      padding: $ic-300 0;
    }
  }

  &__heading-link {
    &:hover, &:focus {
      .icon-cube {
        transform: translateX(8px);
      }
    }
  }

  &__child-menu {
    li {
      position: relative;
      list-style-type: none;
      break-inside: avoid;
  
      &::before {
        background-image: url("/uploads/blue-block.svg");
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: block;
        height: 16px;
        width: 16px;
        left: -$ic-300;
        position: absolute;
        top: 6px;
      }
    }

    li:nth-of-type(3n + 2)::before{
      background-image: url("/uploads/orange-block.svg");
    }

    li:nth-of-type(3n + 3)::before{
      background-image: url("/uploads/yellow-block.svg");
    }
  }

  &__sidebar {
    .grid-3 {
      gap: $ic-200;
      padding: 0;
    }
  }
}

.resources-sub-menu {
  .sub-menu__menu {
    columns: 1;
  }
}

.nav-list__item:nth-of-type(2),
.footer__nav-item:nth-of-type(2),
.nav-list__item:nth-of-type(5),
.footer__nav-item:nth-of-type(5) {
  .nav-list__link::after {
    background: $secondary-color;
  }

  .footer__nav-link::after {
    background: $secondary-color;
  }
}

.nav-list__item:nth-of-type(3),
.footer__nav-item:nth-of-type(3) {
  .nav-list__link::after {
    background: $accent-color-alt;
  }

  .footer__nav-link::after {
    background: $accent-color-alt;
  }
}

.nav-collapse {
  @include breakpoint(md) {
    animation: collapse 0.5s ease forwards;
  }
}

// Open nav bar on scroll up
.nav-expand {
  @include breakpoint(md) {
    animation: expand 0.5s ease forwards;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes expand {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
}