{{ define "main" }}
{{ partial "hero" . }}
{{ if .Params.page_blocks }}
    {{ range .Params.page_blocks }}
        {{ partial "page-block" . }}
    {{ end }}
{{ end }}
{{ if .Params.mind_team.enabled }}
    <section aria-labelledby="our-team-heading" class="block">
        <div class="wrapper-lg text-center">
            {{ with .Params.mind_team }}
            <h2 id="our-team-heading">{{ .heading | safeHTML }}</h2>
            <p class="fw-500 fs-300" style="max-width: 900px; margin: 0 auto;">{{ .body | markdownify }}</p>
            {{ end }}
        </div>
        <div class="wrapper-lg mt-9">
            <div class="grid-3">
                {{ range .Pages }}
                    <div class="staff-card text-center flow">
                        <div class="staff-card__headshot">
                            <a href="{{ .Permalink }}">
                                {{ if .Params.headshot }}
                                    <img src="https://ik.imagekit.io/insightcreative/mind-team/{{ .Params.headshot }}?tr=f-auto,q-80" alt="Headshot of {{ .Title }}" width="600" height="400">
                                {{ else }}
                                    <img src="https://ik.imagekit.io/insightcreative/mind-team/mind-team-placeholder-headshot.jpg?tr=f-auto,q-80" alt="The Mind Team logo mark" width="600" height="400">
                                {{ end }}
                            </a>
                        </div>
                        <div class="staff-card__body">
                            <a href="{{ .Permalink }}"><h3 class="h4">{{ .Title }}</h3></a>
                            <p>{{ .Params.job_title }}</p>
                        </div>
                        {{ if .Params.zoom_room_url }}
                        <a href="{{ .Params.zoom_room_url }}" target="_blank" rel="noopener noreferrer nofollower">Clinician Waiting Room</a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
{{ if .Params.cta_block.enabled }}
    {{ with .Params.cta_block }}
        {{ partial "site-cta" . }}
    {{ end }}
{{ end }}
{{ end }}