{{ define "main" }}
<div class="block">
    <div class="wrapper">
        <div class="flex flex-column flex-row-m">
            <div class="w-100 flow">
                {{ if .Params.headshot }}
                    <img src="https://ik.imagekit.io/insightcreative/mind-team/{{ .Params.headshot }}?tr=f-auto,q-80" alt="" style="max-width: 500px; margin: 0 auto;">
                {{ else }}
                    <img src="https://ik.imagekit.io/insightcreative/mind-team/mind-team-placeholder-headshot.jpg?tr=f-auto,q-80" alt="" style="max-width: 500px; margin: 0 auto;">
                {{ end }}
                <h1>{{ .Title }}</h1>
                <p class="fs-300 fw-500 max-width-none">{{ .Params.job_title }}</p>
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ partial "our-team/staff-blogs" . }}
{{ end }}
