<section aria-label="Mind Team Goals" class="block">
    <div class="wrapper-lg">
        <div class="goal-icon-grid">
            {{ range .goals }}
            <div class="goal-icon text-center flow">
                <img src="/uploads/{{ .icon }}" alt="">
                <h2 class="h3 fs-300 fw-500">{{ .goal }}</h2>
                {{ if .body }}
                    <p>{{ .body | markdownify }}</p>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</section>