{{ "<!-- Header -->" | safeHTML }}
<a class="screen-reader-skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
<a class="screen-reader-skip-to-content" href="#footer" tabindex="0">Skip to footer content</a>
<header class="site-header">
  <div class="site-header__wrapper wrapper-lg">
    <div class="site-header__logo">
      <a class="brand-logo" href="{{ site.BaseURL }}">
        {{ if .Site.Data.site_settings.logo }}
          <img src="/uploads/{{ .Site.Data.site_settings.logo }}?auto=format&width=164&height=141" width="164" height="141" alt="{{ .Site.Data.site_settings.business_name }} logo">
        {{ else }}
          <h1>{{ site.Title }}</h1>
        {{ end }}
      </a>
    </div>
    <div class="site-header__middle">
      <nav class="site-header__nav" aria-label="primary navigation">
        <ul class="nav-list flex flex-justify-center flex-center">
          {{ $url := .RelPermalink }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="nav-list__item has-sub-menu">
                  <a class="nav-list__link fw-700" href="{{ .URL }}" aria-label="{{ .Name }}">
                    {{ .Name }}
                    <span class="sub-menu-indicator"></span>
                  </a>
                  <div class="nav-list__sub-menu {{ .Name | lower }}-sub-menu sub-menu">
                    <div class="sub-menu__inner block">
                      <div class="wrapper-md flex w-100">
                        <div class="w-70 flow">
                          <h3 class="h4 text-primary"><a href="{{ .URL }}" aria-label="{{ .Name }}" class="no-decoration">{{ .Name }}</a></h3>
                          <p class="fs-100 no-margin">Mind Team assessments test for autism, ADHD, dyslexia, dysgraphia and dyscalculia in children and adults.</p>
                          <ul class="border-top-gray">
                            {{ range .Children }}
                              {{ template "menu-node" .}}
                            {{ end }}
                          </ul>                            
                        </div>
                        <div class="w-30 flow ml-6">
                          <img src="/uploads/mind-team-group-small.jpg" alt="" class="border-radius-50">
                          <h3 class="h4 text-primary"><a href="/team/" aria-label="Meet Our Team" class="no-decoration">Meet Our Team</a></h3>
                          <p class="fs-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, porro libero? Iusto facilis incidunt possimus alias dolor optio voluptatibus!</p>
                          <a href="/team/">Meet our team</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            {{ else }}
            <li class="nav-list__item">
              <a class="nav-list__link fw-700" href="{{ .URL }}" aria-label="{{ .Name }}">
                  {{ .Name }}
              </a>
            </li>
            {{ end }}    
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="site-header__end flex flex-justify-end">
      <a class="btn btn--primary" href="/get-started/">Get Started</a>
    </div>
    <div class="site-header__mobile-nav">
      <div class="site-header__mobile-nav-inner">
        <ul  class="site-header__mobile-nav-menu">
          {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL }}" aria-label="{{ .Name }}" class="nav-list__link fw-700">
                {{ .Name }}
            </a>
          </li>  
          {{ end }}
          <li>
            <a class="btn btn--primary" href="/get-started/">Get Started</a>
          </li>
        </ul>
      </div>
    </div>
    <button class="hamburger hamburger--slider" type="button" aria-label="open mobile menu" aria-expanded="false">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div class="site-header__notification p-relative bg-primary pt-1 pb-1">
    <div class="wrapper-lg">
      <p class="w-100 fs-300 text-center text-white max-width-none">For adults and children with autism, ADHD and other learning conditions.</p>
    </div>
  </div>
</header>

{{ define "menu-node" }}
  <li class="list-style-none">
    {{ if .HasChildren }}
      <a href="{{.URL}}" class="fw-500 no-decoration transform-x-8">{{ .Name }}</a>
      <ul class="sub-menu__child-menu">
        {{ range .Children }}
          {{ template "menu-node" .}}
        {{ end }}
      </ul>
    {{else}}
      <a href="{{.URL}}" class="no-decoration transform-x-8">{{ .Name }}</a>
    {{end}}
  </li>
{{ end }}