{{ "<!-- Header -->" | safeHTML }}
<a class="screen-reader-skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
<a class="screen-reader-skip-to-content" href="#footer" tabindex="0">Skip to footer content</a>
<header class="site-header">
  <div class="site-header__wrapper wrapper-lg">
    <div class="site-header__logo">
      <a class="brand-logo dim" href="{{ site.BaseURL }}">
        {{ if .Site.Data.site_settings.logo }}
          <img src="/uploads/{{ .Site.Data.site_settings.logo }}" width="164" height="141" alt="{{ .Site.Data.site_settings.business_name }} logo">
        {{ else }}
          <h1>{{ site.Title }}</h1>
        {{ end }}
      </a>
    </div>
    <div class="site-header__middle">
      <nav class="site-header__nav" aria-label="primary navigation">
        <ul class="nav-list flex flex-justify-center flex-center">
          {{ $url := .RelPermalink }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="nav-list__item has-sub-menu">
                  <a class="nav-list__link fs-300 fw-700" href="{{ .URL }}" aria-label="{{ .Name }}">{{ .Name }}</a>
                  <div class="nav-list__sub-menu {{ .Name | lower }}-sub-menu sub-menu">
                    <div class="sub-menu__inner block">
                      <div class="wrapper-md flex w-100">
                        <div class="sub-menu__navigation w-70 flow">
                          <a href="{{ .URL }}" aria-label="{{ .Name }}" class="sub-menu__heading-link no-decoration flex flex-center fill-white icon-md"><h3 class="h4 text-primary mr-1">{{ .Name }}</h3><span class="icon-cube flex flex-center">{{ partialCached "svg-icons/arrow-right.svg" . }}</span></a>
                          {{ if eq .Name "Test" }}
                            <p class="fs-100 no-margin">Mind Team assessments test for autism, ADHD, dyslexia, dysgraphia and dyscalculia in children and adults.</p>
                          {{ else }}

                          {{ end }}
                          <ul class="sub-menu__menu border-top-gray">
                            {{ range .Children }}
                              {{ template "menu-node" .}}
                            {{ end }}
                          </ul>                            
                        </div>
                        <div class="sub-menu__sidebar w-30 flow ml-6">
                            <img src="https://ik.imagekit.io/insightcreative/mind-team/mind-team-group-small.jpg?tr=f-auto,q-80,w-400,h-300" alt="Mind Team group leadership photo" class="border-radius-50" width="360" height="270">
                            <a href="/our-team/" aria-label="Meet Our Team" class="no-decoration"><h3 class="h4 text-primary">Meet your Mind Team.</h3></a>
                            <p class="fs-100">View our diverse, multidisciplinary team of licensed psychologists, counselors, interventionists and other expert clinicians specially chosen to help you thrive.</p>
                            <a href="/our-team/" class="no-decoration flex flex-center fill-primary icon-sm">Meet our team {{ partialCached "svg-icons/arrow-right.svg" . }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            {{ else }}
            <li class="nav-list__item">
              <a class="nav-list__link fs-300 fw-700" href="{{ .URL }}" aria-label="{{ .Name }}">{{ .Name }}</a>
            </li>
            {{ end }}    
          {{ end }}
          <li class="nav-list__item has-sub-menu">
            <a class="nav-list__link fs-300 fw-700" href="/resources/" aria-label="Resources">Resources</a>
            <div class="nav-list__sub-menu resources-sub-menu sub-menu">
              <div class="sub-menu__inner block">
                <div class="wrapper-md flex w-100">
                  <div class="sub-menu__navigation w-30 flow">
                    <a href="/resources/" aria-label="Resources" class="sub-menu__heading-link no-decoration flex flex-center fill-white icon-md"><h3 class="h4 text-primary mr-1">Resources</h3><span class="icon-cube flex flex-center">{{ partialCached "svg-icons/arrow-right.svg" . }}</span></a>
                    <p class="fs-100 no-margin">Neurodivergent tips, guides, news and resources for children and adults.</p>     
                    <ul class="sub-menu__menu border-top-gray">
                      {{ range .Site.Menus.resources }}
                        <li class="list-style-none">
                          <a href="{{ .URL }}" class="fw-500 no-decoration transform-x-8" aria-label="{{ .Name }}">{{ .Name }}</a>
                        </li>
                      {{ end }}
                    </ul>                       
                  </div>
                  <div class="sub-menu__sidebar w-70 flow ml-6">
                    <div class="flex flex-center flex-justify-between">
                      <h3 class="text-primary h6">Recently Posted</h3>
                      <a href="/blog/" class="fs-100 fw-500 no-decoration">View All</a>
                    </div>
                    <div class="grid-3">
                      {{ range first 3 (where .Site.RegularPages "Type" "blog") }}
                        {{ .Render "blog-card-condensed" }}
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end flex flex-justify-end">
      <a class="btn btn--primary" href="/get-started/">Get Started</a>
    </div>
    <div class="site-header__mobile-nav">
      <div class="site-header__mobile-nav-inner">
        <ul class="site-header__mobile-nav-menu">
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="nav-list__item nav-item-has-dropdown p-relative">
                <a class="nav-list__link parent fw-700" href="{{ .URL }}" aria-label="{{ .Name }}" aria-haspopup="true" aria-expanded="false"
                  title="{{ .Name }}">{{ .Name }}
                </a>
                <button class="toggle-mobile-dropdown" aria-label="open mobile dropdown menu"></button>
                <ul class="nav-list-dropdown">
                  {{ range .Children }}
                    {{ template "menu-node-mobile" .}}
                  {{ end }}
                </ul>
              </li>
              {{ else }}
              <li class="nav-list__item">
                <a href="{{ .URL }}" class="nav-list__link fw-700" aria-label="{{ .Name }}" title="{{ .Name }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
          <li class="nav-list__item nav-item-has-dropdown p-relative">
            <a href="/resources/" class="nav-list__link parent fw-700" aria-label="{{ .Name }}" title="{{ .Name }}">Resources</a>
            <button class="toggle-mobile-dropdown" aria-label="open mobile dropdown menu"></button>
            <ul class="nav-list-dropdown">
              {{ range .Site.Menus.resources }}
                <li class="list-style-none">
                  <a href="{{ .URL }}" class="nav-list__link" aria-label="{{ .Name }}">{{ .Name }}</a>
                </li>
              {{ end }}
            </ul>
          </li>
          <li>
            <a class="btn btn--primary w-100 text-center" href="/get-started/">Get Started</a>
          </li>
        </ul>
      </div>
    </div>
    <button class="hamburger hamburger--slider" type="button" aria-label="open mobile menu" aria-expanded="false">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>

{{ define "menu-node" }}
  <li class="list-style-none">
    {{ if .HasChildren }}
      <a href="{{.URL}}" class="fw-500 no-decoration transform-x-8">{{ .Name }}</a>
      <ul class="sub-menu__child-menu">
        {{ range .Children }}
          {{ template "menu-node" .}}
        {{ end }}
      </ul>
    {{else}}
      <a href="{{.URL}}" class="no-decoration transform-x-8">{{ .Name }}</a>
    {{end}}
  </li>
{{ end }}

{{ define "menu-node-mobile" }}
  <li class="nav-list__item">
    {{ if .HasChildren }}
    <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}" title="{{ .Name }}">{{ .Name }}</a>
      <ul class="nav-list-dropdown">
        {{ range .Children }}
          {{ template "menu-node-mobile" .}}
        {{ end }}
      </ul>
    {{else}}
    <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}" title="{{ .Name }}">{{ .Name }}</a>
    {{end}}
  </li>
{{ end }}