<div class="hero__image">
  <picture>
    <source sizes="100vw" srcset="
    https://ik.imagekit.io/insightcreative/mind-team{{ if .Params.hero.mobile_image_url }}{{ .Params.hero.mobile_image_url }}{{ else }}{{ .Params.hero.image_url }}{{ end }}?tr=f-avif,q-80,w-500,h-250 600w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ if .Params.hero.mobile_image_url }}{{ .Params.hero.mobile_image_url }}{{ else }}{{ .Params.hero.image_url }}{{ end }}?tr=f-avif,q-80,w-350,h-700 800w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-avif,q-90,w-1000,h-500 1000w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-avif,q-90,w-1200,h-600 1200w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-avif,q-90,w-1400,h-700 1400w,
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-avif,q-90,w-1800,h-900 1800w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-avif,q-90,w-2000,h-1000 2000w" type="image/avif">
    
    <source sizes="100vw" srcset="
    https://ik.imagekit.io/insightcreative/mind-team{{ if .Params.hero.mobile_image_url }}{{ .Params.hero.mobile_image_url }}{{ else }}{{ .Params.hero.image_url }}{{ end }}?tr=f-avif,q-80,w-500,h-250 600w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ if .Params.hero.mobile_image_url }}{{ .Params.hero.mobile_image_url }}{{ else }}{{ .Params.hero.image_url }}{{ end }}?tr=f-avif,q-80,w-700,h-350 800w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-webp,q-90,w-1000,h-500 1000w,
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-webp,q-90,w-1200,h-600 1200w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-webp,q-90,w-1400,h-700 1400w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-webp,q-90,w-1800,h-900 1800w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-webp,q-90,w-2000,h-1000 2000w" type="image/webp">

    <source sizes="100vw" srcset="
    https://ik.imagekit.io/insightcreative/mind-team{{ if .Params.hero.mobile_image_url }}{{ .Params.hero.mobile_image_url }}{{ else }}{{ .Params.hero.image_url }}{{ end }}?tr=f-avif,q-80,w-500,h-300 600w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ if .Params.hero.mobile_image_url }}{{ .Params.hero.mobile_image_url }}{{ else }}{{ .Params.hero.image_url }}{{ end }}?tr=f-avif,q-80,w-700,h-450 800w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-jpg,q-90,w-1000,h-500 1000w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-jpg,q-90,w-1200,h-600 1200w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-jpg,q-90,w-1400,h-700 1400w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-jpg,q-90,w-1800,h-900 1800w, 
    https://ik.imagekit.io/insightcreative/mind-team{{ .Params.hero.image_url }}?tr=f-jpg,q-90,w-2000,h-1000 2000w" type="image/jpg">

    <img src="/uploads{{ .Params.hero.image_url }}" alt="{{ .Params.hero.image_url_alt }}" width="1920" height="1080">
  </picture>
</div>