<section aria-labelledby="benefits-heading" class="block">
    <div class="wrapper-lg text-center">
        <h2 id="benefits-heading">{{ .heading | safeHTML }}</h2>
        <p class="fs-300 max-width-none">{{ .body }}</p>
    </div>
    <div class="wrapper-lg mt-9">
        <div class="benefit-grid flex-grid">
            {{ range .benefits }}
                <div class="benefit border-radius-50 text-center">
                    <img src="/uploads/{{ .icon }}" alt="" class="benefit__image">
                    <h3>{{ .heading }}</h3>
                    <p class="max-width-none">{{ .body | safeHTML }}</p>
                </div>
            {{ end }}
        </div>
    </div>
</section>