<section aria-labelledby="testing-process-heading" class="block">
    <div class="wrapper-lg text-center">
        <h2 id="testing-process-heading">{{ .heading | safeHTML }}</h2>
        <p class="fs-300 fw-500" style="max-width: 875px; margin: 1.25rem auto;">{{ .body }}</p>
    </div>
    <div class="block-sm">
        <div class="testing-process-grid grid-2 wrapper-lg">
            {{ range .process }}
            <div class="mt-step p-relative border-radius-50 text-center flow">
                <img src="/uploads/{{ .icon }}" alt="" class="mt-step__icon">
                <h3>{{ .heading }}</h3>
                {{ if .time }}
                    <p class="flex flex-justify-center flex-center fs-300 fw-500">{{ partialCached "svg-icons/clock.svg" . }}<span class="ml-1">{{ .time }}</span></p>
                {{ end }}
                <p style="max-width: 575px; margin: 1.25rem auto;">{{ .body }}</p>
            </div>
            {{ end }}
        </div>
    </div>
    {{ if .button.enabled }}
        {{ with .button }}
            <div class="text-center">
                <a href="{{ .button_url }}" class="btn btn--primary">{{ .button_text }}</a>
            </div>
        {{ end }}
    {{ end }}
</section>