<div class="pricing-chart border-radius-50 bg-white border-primary text-center">
  <div class="pricing-chart__header">
    <h3>{{ .heading }}</h3>
    <p style="max-width: 44ch; margin: 0 auto;">{{ .subheading }}</p>
  </div>
  <div class="pricing-chart__body">
    {{ .body | markdownify }}
  </div>
  <div class="pricing-chart__footer p-relative">
    <p class="mb-1 fw-700">{{ .price }}</p>
    {{ if .button.enabled }}
      <a href="{{ .button.button_url }}" class="p-absolute btn btn--primary btn--centered">{{ .button.button_text }} <span class="visually-hidden">about our {{ .heading }}</span></a>
    {{ end }}
  </div>
</div>