<section class="block bg-gray">
    <div class="wrapper-lg text-center">
        <h2>{{ .heading | safeHTML }}</h2>
        <p class="fs-300 fw-500" style="max-width: 875px; margin: 1.25rem auto;">{{ .body }}</p>
    </div>
    <div class="wrapper-lg">
        <div class="flex flex-column-reverse flex-center {{ if .text_column_right }}flex-row-m{{ end }}{{ if .text_column_left }}flex-row-reverse-m{{ end }}">
            <div class="w-100 w-50-m flow text-center border-radius-image mt-3 mt-0-m">
                {{ if .image.enabled }}
                    {{ with .image }}
                        {{ partial "responsive-image" . }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="w-100 w-50-m flow {{ if .text_column_right }}ml-6-m{{ else }}mr-6-m{{ end }}">
                {{ range .options }}
                    <div>
                        <h3>{{ .heading | safeHTML }}</h3>
                        <p class="mt-process__body">{{ .body | markdownify }}</p>
                    </div>
                {{ end }}
                {{ if .button.enabled }}
                    {{ with .button }}
                        <a href="{{ .button_url }}" class="btn btn--primary">{{ .button_text }}</a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>