<section aria-labelledby="{{ .heading | plainify | urlize }}" class="mt-testing-options block">
  <div class="wrapper-lg text-center">
    <h2 id="{{ .heading | plainify | urlize }}">{{ .heading | safeHTML }}</h2>
  </div>
  <div class="block-sm">
    <div class="wrapper-lg grid-2">
      {{ range .options }}
      {{ partial "mt-pricing-chart" . }}
      {{ end }}
    </div>
    <div class="wrapper-lg text-center mt-8">
      <p class="fs-300 fw-500" style="max-width: 875px; margin: 1.25rem auto;">{{ .body }}</p>
      {{ if .button.enabled }}
        {{ with .button }}
          <a href="{{ .button_url }}" class="btn btn--primary">{{ .button_text }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>