<section class="page-block block">
  <div class="flex flex-column-reverse flex-center p-relative {{ if .text_column_right }}flex-row-reverse-m{{ end }}{{ if .text_column_left }}flex-row-m{{ end }}">
    <div class="page-block__content w-100 w-50-m mt-3 mt-0-m">
      <div class="block">
        <div class="wrapper-lg flow">
          <h2>{{ .heading | safeHTML }}</h2>
          <p>{{ .body | markdownify }}</p>
          {{ if .button.enabled }}
            {{ with .button }}
                <a href="{{ .button_url }}" class="btn btn--primary">{{ .button_text }}</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    <div class="page-block__image w-100 w-50-m {{ if .text_column_right }}mr-3-m{{ else }}ml-3-m{{ end }} background-image">
      {{ if .image.enabled }}  
          {{ with .image }}  
              {{ partial "responsive-image" . }}
          {{ end }}
      {{ end }}
    </div>
  </div>
</section>