{{ define "main" }} 
{{ partial "home/hero" . }}
{{ if .Params.intro.enabled }}
    {{ with .Params.intro }}
        <section aria-labelledby="homepage-intro-heading" class="block">
            <div class="wrapper-md">
                <div class="flex flex-column flex-row-m">
                    <div class="w-100 w-50-m flow text-center">
                        <!-- 1MB video down to 150KB with imagekit.io transformation -->
                        <video height="300" width="500" loop="loop" muted="true" playsinline="" style="opacity: 1;" autoplay="true" poster="">
                            <source src="https://ik.imagekit.io/insightcreative/mind-team/{{ .video }}?tr=w-500,q-70" type="video/mp4">
                        </video>
                        <h2 id="homepage-intro-heading">{{ .heading | safeHTML }}</h2>
                        <p style="max-width: 500px;margin: 1.25rem auto;">{{ .body }}</p>
                    </div>
                    <div class="w-100 w-50-m flow mt-3 mt-0-m ml-6">
                        {{ with .our_process }}
                            {{ range .steps }}
                            <div class="mt-step flex flex-start">
                                <img src="{{ .icon }}" alt="" class="mt-step__icon mr-4">
                                <div class="mt-step__content">
                                    <h3 class="mt-step__heading">{{ .heading | safeHTML }}</h3>
                                    <p class="mt-step__body">{{ .body }}</p>
                                </div>
                            </div>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}
{{ if .Params.our_services.enabled }}
    {{ with .Params.our_services }}
    <section aria-labelledby="services-heading" class="block">
        <div class="wrapper-lg text-center">
            <h2 id="services-heading">{{ .heading | safeHTML }}</h2>
            <p class="max-width-none">{{ .body }}</p>
        </div>
        <div class="mt-services wrapper-lg mt-9">
            {{ range .services }}
                <div class="mt-service p-relative text-center border-radius-50">
                    <img src="/uploads/yellow-block.svg" alt="" class="p-absolute mt-service__block-yellow">
                    <img src="/uploads/blue-block.svg" alt="" class="p-absolute mt-service__block-blue">
                    <img src="/uploads/orange-block.svg" alt="" class="p-absolute mt-service__block-orange">
                    <h3 class="h4">{{ .heading | safeHTML }}</h3>
                    <p>{{ .body }}</p>
                    {{ if .button.enabled }}
                        {{ with .button }}
                            <a href="{{ .button_url }}" class="btn btn--primary p-absolute btn--centered">{{ .button_text }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </section>
    {{ end }}
{{ end }}
{{ end }}
