{{ define "main" }}
{{ partial "hero" . }}
{{ if .Params.goals_block.enabled }}
    {{ with .Params.goals_block }}
        {{ partial "goal-icons" . }}
    {{ end }}
{{ end }}
{{ if .Params.process_block.enabled }}
    {{ with .Params.process_block }}
        {{ partial "mt-process" . }}
    {{ end }}
{{ end }}
{{ if .Params.child_treatment_options_block.enabled }}
    {{ with .Params.child_treatment_options_block }}
        {{ partial "mt-treatment-options" . }}
    {{ end }}
{{ end }}
{{ if .Params.adult_treatment_options_block.enabled }}
    {{ with .Params.adult_treatment_options_block }}
        {{ partial "mt-treatment-options" . }}
    {{ end }}
{{ end }}
{{ if .Params.page_blocks }}
    {{ range .Params.page_blocks }}
        {{ partial "page-block" . }}
    {{ end }}
{{ end }}
{{ if .Params.pricing_block.enabled }}
    {{ with .Params.pricing_block }}
    <section aria-labelledby="pricing-heading" class="block">
        <div class="wrapper-md flow">
            <h2 id="pricing-heading" class="text-center max-width-none">{{ .heading }}</h2>
            <p class="fw-500 fs-300 text-center" style="max-width: 900px; margin: 1.2rem auto;">{{ .body }}</p>
            {{ if .pricing_options.enabled }}
            <div class="block-sm">
                <div class="grid-2 mt-3">
                    {{ range .options }}
                    <div class="flow">
                        <h3 class="h4">{{ .heading }}</h3>
                        <p class="fs-300 fw-500">{{ .subheading }}</p>
                        <p>{{ .body }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            {{ if .button.enabled }}
                {{ with .button }}
                    <div class="text-center">
                        <a href="{{ .button_url }}" class="btn btn--primary">{{ .button_text }}</a>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </section>
    {{ end }}
{{ end }}
{{ if .Params.benefits_block.enabled }}
    {{ with .Params.benefits_block }}
        {{ partial "mt-benefits" . }}
    {{ end }}
{{ end }}
{{ if .Params.faq_block.enabled }}
    {{ with .Params.faq_block }}
        {{ partial "mt-faqs" . }}
    {{ end }}
{{ end }}
{{ if .Params.cta_block.enabled }}
    {{ with .Params.cta_block }}
        {{ partial "site-cta" . }}
    {{ end }}
{{ end }}
{{ end }}