<div class="padding-top-6">
  <div class="wrapper-lg">
    <div class="category-wrapper flex flex-justify-between border-bottom-gray">
      <div>
        <button class="btn--filter text-primary">{{ partialCached "svg-icons/filter.svg" . }} Filter by Category</button>
          {{- if isset site.Taxonomies "categories" }}
          {{- if not (eq (len site.Taxonomies.categories) 0) }}
          <ul class="category-list bg-gray">
            {{- range .Site.Taxonomies.categories }}
            <li class="category-list__item">
              <a href="{{ .Page.Permalink }}" class="category category-list__link transform-x-8 fs-100 fw-700">{{ .Page.Title }}<span> ({{ .Count }})</span></a>
            </li>
            {{- end }}
          </ul>
          {{- end }}
          {{- end }}
      </div>
      <button class="nav-item search__open flex flex-center" aria-label="open search">{{ partialCached "svg-icons/search.svg" . }} Search blog</button>
    </div>
  </div>
</div>