{{ if gt $.Paginator.TotalPages 1 }}
{{ $minPages := sub .Paginator.PageNumber 1 }}
{{ $maxPages := sub .Paginator.TotalPages .Paginator.PageNumber }}
{{ $haspagination__dots := or (gt $minPages 2) (gt $maxPages 2) }}
{{ $hasMaxPages := and (ge $minPages 2) (ge $maxPages 2) }}

<div class="pagination">
    {{ if .Paginator.HasPrev }}
    <a class="pagination__previous" href="{{ .Paginator.Prev.URL }}">{{ partial "svg-icons/chevron-left.svg" . }}</a>
    <a class="pagination__numbers" href="{{ .Paginator.First.URL }}">1</a>
    {{ end }}

    {{ if eq $minPages 2 }}
    <a class="pagination__numbers" href="{{ .Paginator.Prev.URL }}">{{ sub .Paginator.PageNumber 1 }}</a>
    {{ end }}

    {{ if gt $minPages 2 }}
    <span class="pagination__numbers pagination__dots">...</span>
    {{ end }}

    <span class="pagination__numbers pagination__current shadow-xl">{{.Paginator.PageNumber}}</span>

    {{ if eq $maxPages 2 }}
    <a class="pagination__numbers shadow-xl" href="{{ .Paginator.Next.URL }}">{{ add .Paginator.PageNumber 1 }}</a>
    {{ end }}

    {{ if gt $maxPages 2 }}
    <span class="pagination__numbers pagination__dots shadow-xl">...</span>
    {{ end -}}

    {{ if .Paginator.HasNext -}}
    <a class="pagination__numbers shadow-xl" href="{{ .Paginator.Last.URL }}">{{ .Paginator.TotalPages }}</a>
    <a class="pagination__next shadow-xl" href="{{ .Paginator.Next.URL }}">{{ partial "svg-icons/chevron-right.svg" . }}</a>
    {{- end }}
</div>
{{ end -}}