{{ $heroClass := lower .Page.Title }}
<div class="notification-bar p-relative bg-primary pt-1 pb-1">
  <div class="wrapper-lg">
    <p class="w-100 fs-300 text-center text-white max-width-none">For adults and children with autism, ADHD and other learning conditions.</p>
  </div>
</div>
<section aria-labelledby="hero-heading" class="{{ anchorize $heroClass }}-hero flex flex-column flex-row-m flex-center">
  {{ partial "hero-image" . }}
  <div class="block-md w-100">
    <div class="wrapper-lg">
      <div class="home-hero__content flex flex-column flex-row-m">
        <div class="w-100 w-50-m"></div>
        <div class="w-100 w-50-m flex flex-center">
          <div class="home-hero__content-inner w-100 border-radius-50 border-primary p-relative bg-white text-center flow">
            <h1 id="hero-heading" style="max-width: 14ch; margin: 0 auto;">{{ .Params.hero.heading | safeHTML }}</h1>
            <p class="home-hero__body fs-300 fw-500" style="max-width: 550px; margin: 1.25rem auto;">{{ .Params.hero.body | safeHTML }}</p>
            {{ if .Params.hero.button.enabled }}
              {{ with .Params.hero.button }}
                <a class="home-hero__btn p-absolute btn btn--primary btn--centered" href="{{ .button_url }}">{{ .button_text }}</a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
