{{ $imageURL := .Get "image_url" }}
{{ $imageAlt := .Get "image_alt" }}

<p>
    <picture>
        <source sizes="(min-width: 993px) 50vw, 100vw" srcset="https://ik.imagekit.io/insightcreative/mind-team{{ $imageURL }}?tr=f-avif,q-70,w-325,h-250 400w, https://ik.imagekit.io/insightcreative/mind-team{{ $imageURL }}?tr=f-avif,q-70,w-600,h-450 600w, https://ik.imagekit.io/insightcreative/mind-team{{ $imageURL }}?tr=f-avif,q-80,w-800,h-525 800w" type="image/avif">
    
        <source sizes="(min-width: 993px) 50vw, 100vw" srcset="https://ik.imagekit.io/insightcreative/mind-team{{ $imageURL }}?tr=f-webp,q-70,w-325,h-250 400w, https://ik.imagekit.io/insightcreative/mind-team{{ $imageURL }}?tr=f-webp,q-70,w-600,h-450 600w, https://ik.imagekit.io/insightcreative/mind-team{{ $imageURL }}?tr=f-webp,q-80,w-800,h-525 800w" type="image/webp">
    
        <source sizes="(min-width: 993px) 50vw, 100vw" srcset="https://ik.imagekit.io/insightcreative/mind-team{{ $imageURL }}?tr=f-jpg,q-70,w-325,h-250 400w, https://ik.imagekit.io/insightcreative/mind-team{{ $imageURL }}?tr=f-jpg,q-70,w-600,h-450 600w, https://ik.imagekit.io/insightcreative/mind-team{{ $imageURL }}?tr=f-jpg,q-80,w-800,h-525 800w" type="image/jpg">
    
        <img src="/uploads{{ $imageURL }}" alt="{{ $imageAlt }}" width="600" height="450">   
    </picture>
</p>
