details {
    border: 2px solid $black;
    border-radius: 25px;
    background-color: $white;
    padding: $ic-200;
    cursor: pointer;
    height: fit-content;

    p, ul {
        font-size: $ic-100;
    }

    p {
        margin-top: $ic-300;
    }
}